# **Variables and Type Conversion**

A variable is a container that can hold data, which will be stored within memory. This information can then be accessed and manipulated throughout our code. The following shows an example of a variable being declared using an **=** sign.

We can use the print() method to display values of a variable or to show text.

In [ ]:
x = 10
name = "Degnan"
pi = 3.14

print(x)
print(name)
print(pi)

10
Degnan
3.14

**Types of Variables:**


There are different types of variables in Python. These are the different types.

*   Integer: A whole number can be stored.
*   Float: A decimal number can be stored.
*   String: Stores text, which is a series of characters.
*   Boolean: *True* or *False* values are able to be stored.

In [ ]:
degnans_age = 26 #integer being stored
pi = 3.14 #float being stored
name = "Degnan" #string being stored
is_mathematician = True #boolean being stored

**Type Conversion**

A type conversion is when you change one datatype to another. There are 2 types of type conversions. That is implicit type conversion and explicit type conversion.



1.   Implicit Type Conversion: Python is able to detect when a conversion can be done, if it is logical, therefore changing it automatic

2.   Explicit Type Conversion: This is when we change the datatype ourselves manually.

In [ ]:
#eg. implicit conversion

a = 1.0
b = 2

c = a + b

print(c)
print(type(c)) #automatically changed c into a float

3.0
<class 'float'>

In [ ]:
#e.g explicit conversion

a = 1
b = "2"
c = a + int(b)

print(c)
print(type(c))

3
<class 'int'>

In [ ]:
zero = 0 #e.g explicit conversion
print(bool(zero))

False

# **Lists, Sets, and Tuples**

In Python, there are three built-in data structures that allows us to store a collection of items, these built-in data structures have their own methods in which we can manipulate the data structures. These built-in data structures are called lists, sets, and tuples.

**List**

A list can store items of different types, they are also mutable and call allows duplicates.

The follow shows list and its different methods being used.

In [ ]:
list = [10, 20, 30, "ice_cream", "cookies"]

list.append(3.10) #this is adding a float to the list
print(list)

[10, 20, 30, 'ice_cream', 'cookies', 3.1]

In [ ]:
list.insert(0, "cake") #this is adding a string to the beginning of the list
print(list)

['cake', 10, 20, 30, 'ice_cream', 'cookies', 3.1]

In [ ]:
list.extend([0.0, 1.1]) #this is appending more elements.
print(list)

['cake', 10, 20, 30, 'ice_cream', 'cookies', 3.1, 0.0, 1.1]

In [ ]:
list.remove("cookies") #this is removing an element from the list
print(list)

['cake', 10, 20, 30, 'ice_cream', 3.1, 0.0, 1.1]

In [ ]:
list.pop() #this is removing the last element from the list
print(list)

['cake', 10, 20, 30, 'ice_cream', 3.1, 0.0]

In [ ]:
ten_count =list.count(10) #this is counting the number of times an element appears in the list
print(ten_count)

1

In [ ]:
list.clear() #this clear a list
print(list)

[]

In [ ]:
list = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
list.sort() #this is sorting the list, it can be customized as well with a key and reverse flag.
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list.reverse() #this is reversing the list
print(list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
copied_list = list.copy() #this is copying the list
print(copied_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

A tuple is a collection of item, that allows duplicates but cannot be changed, this makes it immutable. You cannot add, remove, or change anything. This is an example of it being used with its different methods.

In [ ]:
tuple = (1, 5, 8, 8, "chocolate", "vanilla")

print(tuple)

(1, 5, 8, 8, 'chocolate', 'vanilla')

In [ ]:
tuple.index("vanilla") #this is getting the index of an element

5

In [ ]:
tuple.count(8) #this is counting the number of times an element appears in the tuple

2

*Quick Fact: Tuples are much faster than list because of immutability.*

A set is a collection of items in which the order of the items will not be preserves, just like tuplees they are immuatable but they do not allow duplicates. Here are some of examples of its uses and methods.

In [ ]:
n_set = {1, 2, "was_the_middle", 4, 5}
print(n_set)

{1, 2, 4, 5, 'was_the_middle'}

In [ ]:
n_set.add("was_the_end") #this is adding an element to the set
print(n_set)

{1, 2, 4, 5, 'was_the_end', 'was_the_middle'}

In [ ]:
n_set.remove(4) #this is removing an element from the set
print(n_set)

{1, 2, 5, 'was_the_end', 'was_the_middle'}

In [ ]:
n_set.pop() #this is removing an arbitrary element from the set.
print(n_set)

{2, 5, 'was_the_end', 'was_the_middle'}

In [ ]:
m_set = {1, 2, 3, 4, 5}
n_set.union(m_set) #this is combining two sets

{1, 2, 3, 4, 5, 'was_the_end', 'was_the_middle'}

In [ ]:
common_set = n_set.intersection(m_set) #this is getting the common elements between two sets
print(common_set)

{2, 5}

In [ ]:
difference_srt = n_set.difference(m_set) #this is getting the difference between two sets
print(difference_srt)

{'was_the_end', 'was_the_middle'}

In [ ]:
n_set.issubset(m_set) #this is checking if one set is a subset of another set

False

In [ ]:
n_set.issuperset(m_set) #this is checking if one set is a superset of another set

False

# **Dictionaries**

In Python, a **dictionary** is unordered collection of data values. They contain both keys and values, the keys cannot be changed and they are also unique. The values however can be changed and can have duplicates. We use a particular key to access a particular value.

Dictionaries are very flexible and is great for creating structured data. The following shows how dictionaries are used, and the different modes that manipulate them!