# **Variables and Type Conversion**

A variable is a container that can hold data, which will be stored within memory. This information can then be accessed and manipulated throughout our code. The following shows an example of a variable being declared using an **=** sign.

We can use the print() method to display values of a variable or to show text.

In [ ]:
x = 10
name = "Degnan"
pi = 3.14

print(x)
print(name)
print(pi)

10
Degnan
3.14

**Types of Variables:**


There are different types of variables in Python. These are the different types.

*   Integer: A whole number can be stored.
*   Float: A decimal number can be stored.
*   String: Stores text, which is a series of characters.
*   Boolean: *True* or *False* values are able to be stored.

In [ ]:
degnans_age = 26 #integer being stored
pi = 3.14 #float being stored
name = "Degnan" #string being stored
is_mathematician = True #boolean being stored

**Type Conversion**

A type conversion is when you change one datatype to another. There are 2 types of type conversions. That is implicit type conversion and explicit type conversion.



1.   Implicit Type Conversion: Python is able to detect when a conversion can be done, if it is logical, therefore changing it automatic

2.   Explicit Type Conversion: This is when we change the datatype ourselves manually.

In [ ]:
#eg. implicit conversion

a = 1.0
b = 2

c = a + b

print(c)
print(type(c)) #automatically changed c into a float

3.0
<class 'float'>

In [ ]:
#e.g explicit conversion

a = 1
b = "2"
c = a + int(b)

print(c)
print(type(c))

3
<class 'int'>

In [ ]:
zero = 0 #e.g explicit conversion
print(bool(zero))

False

# **Lists, Sets, and Tuples**

In Python, there are three built-in data structures that allows us to store a collection of items, these built-in data structures have their own methods in which we can manipulate the data structures. These built-in data structures are called lists, sets, and tuples.

**List**

A list can store items of different types, they are also mutable and call allows duplicates.

The follow shows list and its different methods being used.

In [ ]:
list = [10, 20, 30, "ice_cream", "cookies"]

list.append(3.10) #this is adding a float to the list
print(list)

[10, 20, 30, 'ice_cream', 'cookies', 3.1]

In [ ]:
list.insert(0, "cake") #this is adding a string to the beginning of the list
print(list)

['cake', 10, 20, 30, 'ice_cream', 'cookies', 3.1]

In [ ]:
list.extend([0.0, 1.1]) #this is appending more elements.
print(list)

['cake', 10, 20, 30, 'ice_cream', 'cookies', 3.1, 0.0, 1.1]

In [ ]:
list.remove("cookies") #this is removing an element from the list
print(list)

['cake', 10, 20, 30, 'ice_cream', 3.1, 0.0, 1.1]

In [ ]:
list.pop() #this is removing the last element from the list
print(list)

['cake', 10, 20, 30, 'ice_cream', 3.1, 0.0]

In [ ]:
ten_count =list.count(10) #this is counting the number of times an element appears in the list
print(ten_count)

1

In [ ]:
list.clear() #this clear a list
print(list)

[]

In [ ]:
list = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
list.sort() #this is sorting the list, it can be customized as well with a key and reverse flag.
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list.reverse() #this is reversing the list
print(list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
copied_list = list.copy() #this is copying the list
print(copied_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

A tuple is a collection of item, that allows duplicates but cannot be changed, this makes it immutable. You cannot add, remove, or change anything. This is an example of it being used with its different methods.

In [ ]:
tuple = (1, 5, 8, 8, "chocolate", "vanilla")

print(tuple)

(1, 5, 8, 8, 'chocolate', 'vanilla')

In [ ]:
tuple.index("vanilla") #this is getting the index of an element

5

In [ ]:
tuple.count(8) #this is counting the number of times an element appears in the tuple

2

*Quick Fact: Tuples are much faster than list because of immutability.*

A set is a collection of items in which the order of the items will not be preserves, just like tuplees they are immuatable but they do not allow duplicates. Here are some of examples of its uses and methods.

In [ ]:
n_set = {1, 2, "was_the_middle", 4, 5}
print(n_set)

{1, 2, 4, 5, 'was_the_middle'}

In [ ]:
n_set.add("was_the_end") #this is adding an element to the set
print(n_set)

{1, 2, 4, 5, 'was_the_middle', 'was_the_end'}

In [ ]:
n_set.remove(4) #this is removing an element from the set
print(n_set)

{1, 2, 5, 'was_the_middle', 'was_the_end'}

In [ ]:
n_set.pop() #this is removing an arbitrary element from the set.
print(n_set)

{2, 5, 'was_the_middle', 'was_the_end'}

In [ ]:
m_set = {1, 2, 3, 4, 5}
n_set.union(m_set) #this is combining two sets

{1, 2, 3, 4, 5, 'was_the_end', 'was_the_middle'}

In [ ]:
common_set = n_set.intersection(m_set) #this is getting the common elements between two sets
print(common_set)

{2, 5}

In [ ]:
difference_srt = n_set.difference(m_set) #this is getting the difference between two sets
print(difference_srt)

{'was_the_middle', 'was_the_end'}

In [ ]:
n_set.issubset(m_set) #this is checking if one set is a subset of another set

False

In [ ]:
n_set.issuperset(m_set) #this is checking if one set is a superset of another set

False

# **Dictionaries**

In Python, a **dictionary** is unordered collection of data values. They contain both keys and values, the keys cannot be changed and they are also unique. The values however can be changed and can have duplicates. We use a particular key to access a particular value.

Dictionaries are very flexible and is great for creating structured data. The following shows how dictionaries are used, and the different modes that manipulate them!

How to create a dictionary

In [ ]:
#creating a dictionary

dictionary_a = {
    "name" : "Degnan",
    "age" : 26,
    "is_mathematician" : True,
    "favorite_colour" : "white"
}

print(dictionary_a)

{'name': 'Degnan', 'age': 26, 'is_mathematician': True, 'favorite_colour': 'white'}

An alternative way of creating a dictionary.

In [ ]:
#alternate dictionary creation

dictionary_b = dict(name = "Degnan", age = 26, is_mathematician = True, favorite_colour = "white")

print(dictionary_b)

{'name': 'Degnan', 'age': 26, 'is_mathematician': True, 'favorite_colour': 'white'}

How to access different values within a dictionary according to their keys.

In [ ]:
#how to access values according to their keys

print(dictionary_b["name"])
print(dictionary_b["age"])

Degnan
26

In [ ]:
#similarily you can used the get() function

print(dictionary_b.get("name"))
print(dictionary_b.get("age"))

Degnan
26

This is how you can display keys within a dictionary

In [ ]:
#displaying the keys to a dictionary

print(dictionary_a.keys())

dict_keys(['name', 'age', 'is_mathematician', 'favorite_colour'])

Similarily this is how you can display the values

In [ ]:
#displaying the values to a dictionary

print(dictionary_a.values())

dict_values(['Degnan', 26, True, 'white'])

Displaying the pairs concerning the key and its corresponding value can be done using the items() method.

In [ ]:
#using items(), you can also get the key-value pairs

print(dictionary_a.items())

dict_items([('name', 'Degnan'), ('age', 26), ('is_mathematician', True), ('favorite_colour', 'white')])

You can add or update a dictionary using the update() method.

In [ ]:
#update a dictionary by using the update() function

dictionary_a.update({"nationality" : "American"})
print(dictionary_a)

{'name': 'Degnan', 'age': 26, 'is_mathematician': True, 'favorite_colour': 'white', 'nationality': 'American'}

Using the pop() method removes the value of the specified key.

In [ ]:
#the pop() removes and return the value of the specified key

print(dictionary_a.pop("nationality"))
print(dictionary_a)

American
{'name': 'Degnan', 'age': 26, 'is_mathematician': True, 'favorite_colour': 'white'}

By using popitem(), you can remove the last item within a dictionary.

In [ ]:
#using popitem() you can remove the last item in the dictionary

print(dictionary_a.popitem())
print(dictionary_a)

('favorite_colour', 'white')
{'name': 'Degnan', 'age': 26, 'is_mathematician': True}

You can use setdefault to add another pair within your dictionary or to return a value.

In [ ]:
#by using setdefault() you can return the value, if not it will add the key with the specified value

print(dictionary_a.setdefault("name", "Degnan"))

dictionary_a.setdefault("favorite_math_topic", "sequential_analysis")
print(dictionary_a)

Degnan
{'name': 'Degnan', 'age': 26, 'is_mathematician': True, 'favorite_math_topic': 'sequential_analysis'}

A shallow copy of a dictionary can also be made using the copy() method.

In [ ]:
#create copies by using the copy() function

dictionary_c = dictionary_a.copy()
print(dictionary_c)

{'name': 'Degnan', 'age': 26, 'is_mathematician': True, 'favorite_math_topic': 'sequential_analysis', 'zodiac_sign': 'Leo'}

Other than the setdefault(), this is the more common way adding a new key-value pair in a dictionary.

In [ ]:
#you can also add keys the common way

dictionary_a["zodiac_sign"] = "Leo"
print(dictionary_a)

{'name': 'Degnan', 'age': 26, 'is_mathematician': True, 'favorite_math_topic': 'sequential_analysis', 'zodiac_sign': 'Leo'}

Use *in* to check if a particular key exists within a dictionary.

In [ ]:
#checking for keys

"zodiac_sign" in dictionary_a

True

*Bonus: Looping through dictionary*

In [ ]:
print("Keys within Dictionary A")
for keys in dictionary_a:
  print(keys)

print()

print("Keys within Dictionary A")
for values in dictionary_a:
  print(dictionary_a[values])

print()

print("Key and Values Pair in Dictionary A")

for key, value in dictionary_a.items():
  print(key, value)

Keys within Dictionary A
name
age
is_mathematician
favorite_math_topic
zodiac_sign

Keys within Dictionary A
Degnan
26
True
sequential_analysis
Leo

Key and Values Pair in Dictionary A
name Degnan
age 26
is_mathematician True
favorite_math_topic sequential_analysis
zodiac_sign Leo

# **Conditional Statements**

In Python, there are logical conditional statements, which allows us to have a control of the flow of implemented program, conditional statements give us access to execute a block of code, given that a condition is true. If it is not true, then it will not execute the block of code.

The main keys that make conditional statements is **if**, **elif**, and **else**.

In [ ]:
x = 10

if x < 15: #check if x is less than 15 then print the following:
  print("x is less than 15")
elif x > 15: #else if is greater than 15 then print the following:
  print("x is greater than 15")
else:
  print("x is neither greater nor less than 15.")

x is less than 15

**Nested if-statements**

You can do nested if-statements in order to run multiple conditions and to create a complex flow.

In [ ]:
name = "Mr. Kopa"

if name == "Mr. Kopa":
 if len(name) % 2 == 0: #modulus gives us the remainder of 1 in this case
  print("The name is Mr. Kopa and the length is even!")
else:
   print("The name is Mr. Kopa and the length is odd")

The name is Mr. Kopa and the length is even!

*Tenary Operator*: A short handed way of doing conditional statements.

In [ ]:
capricorn_crush = "Kia"

"I have a crush on a Capricorn woman but I'm scared I might get heart broken!" if capricorn_crush == "Kia" else "I don't have a crush on a girl name Kia."

"I have a crush on a Capricorn woman but I'm scared I might get heart broken!"

There are logical operators such as *AND*, *OR*, and *NOT* which can be used in conditional statement to check statements or to see if they are valid or not.

In [ ]:
blanco = "white"
cafe = "brown"

if blanco == "white" and cafe == "brown":
  print("Blanco is white and cafe is brown")

if blanco == "white" or cafe == "brown":
  print("Blanco is white or cafe is brown")

if not blanco == "black":
  print("Blanco is not black")

Blanco is white and cafe is brown
Blanco is white or cafe is brown
Blanco is not black

The **pass** keyword can be used to fill in a space for an block of empty space where the code will be added later

In [ ]:
if blanco == "white":
  pass
else:
    print("The pass keyword worked that's why I didn't run!")

The **in** keyword can be used to check if an element in a list, tuple, or set.

In [ ]:
sweets = ["ice_cream", "cookies", "cake"]

if "cake" in sweets:
  print("The cake is real!")

The cake is real!

In [ ]:
x = 90

if 95 > x > 85:
  print("x is greater than 85 but less than 100")

x is greater than 85 but less than 100

# **Looping Statement**

In Python, when we want to repeatedly execute a block of code, we use *loops*, and this can happen as long as a condition is being met. There are 2 types of loops, that is **for** loops and **while** loops. The following are demonstrations of it different usages.

**For** loops are used to iterate over a sequence such a list, tuple, or set. It will repeat an execution for each of the item that exists within the sequence.

In [ ]:
traits_of_strength = ['Confidence', 'Will', 'Charisma', 'Purpose', 'Determination']

for trait in traits_of_strength:
  print(trait)

Confidence
Will
Charisma
Purpose
Determination

**While** loops continues to execute a block of code as long as a condition is held on as true!

In [ ]:
adonai_exist = True
i = 1

while adonai_exist:
  print("Adonai is still alive!")
  i += 1
  if i == 10:
    print("Ending the loop.")
    break

Adonai is still alive!
Adonai is still alive!
Adonai is still alive!
Adonai is still alive!
Adonai is still alive!
Adonai is still alive!
Adonai is still alive!
Adonai is still alive!
Adonai is still alive!
Ending the loop.

*You can use the **break** keyword to break out of loops as shown above.*

You can construct nested loops when there is multidimensional data that needs to be manipulated or analyzed. A nested loop is a loop within a loop.

In [ ]:
favorite_places = ['Africa', 'Japan']

for place in favorite_places:
  print()
  for letter in place:
    print(letter)

print()

for i in range(3):
  for j in range(2):
    print(f'i = {i} and j = {j}')

A
f
r
i
c
a

J
a
p
a
n

i = 0 and j = 0
i = 0 and j = 1
i = 1 and j = 0
i = 1 and j = 1
i = 2 and j = 0
i = 2 and j = 1

# **List Comprehensions**

List comprehension is a brief way of formulating a list in Python that uses a single line of code to make a list

There are different ways of doing this and those are the following:

1. **Basic List Comprehension**
2. **List Comprehension with Condition (Filtering)**
3. **List Comprehension with Operations**
4. **List Comprehension with Nested Loops**
5. **Using List Comprehension to Flatten a List of Lists**
6. **List Comprehension with String Manipulation**

**1. Basic List Comprehension**: This list comprehension will generate a list from 0 to 5.

In [ ]:
nums = [x for x in range(6)]
display(nums)

[0, 1, 2, 3, 4, 5]

2. **List Comprehension with Condition (Filtering)**: This second list comprehension will generate a series of odd numbers from 1 to 9.

In [ ]:
odd_numbers = [x for x in range(10) if x % 2 == 1]
display(odd_numbers)

[1, 3, 5, 7, 9]

3. **List Comprehension with Operations**: This third list comprehension will generate a list of number but with a mathematical operation of multiplication being done to it.

In [ ]:
multiplied_list = [x*2 for x in range(10)]
display(multiplied_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

4. **List Comprehension with Nested Loops**: The fourth list comprehension shows a nested loop but with a list comprehension in use.

In [ ]:
nested_list = [[(A, B) for A in range(4) for B in range(3)]]
display(nested_list)

[[(0, 0),
  (0, 1),
  (0, 2),
  (1, 0),
  (1, 1),
  (1, 2),
  (2, 0),
  (2, 1),
  (2, 2),
  (3, 0),
  (3, 1),
  (3, 2)]]

5. **Using List Comprehension to Flatten a List of Lists**: This fifth list comprehension style flattens a list of lists into a single list.

In [ ]:
nested_list = [[1, 2, 3], [3, 2, 1], ['apples', 'bananas', 'grapes']]
flatten_list = [[item for sub_item in nested_list for item in sub_item]]
display(flatten_list)

[[1, 2, 3, 3, 2, 1, 'apples', 'bananas', 'grapes']]

6. **List Comprehension Using String Manipulation**: The last list comprehension will create a list of each of the first letter in the given sentence.

In [ ]:
motivational_quote = "I am of the conviction that the boldest measures are often the most safest."

#display(motivation_quote.split())

first_letters = [letter[0] for letter in motivational_quote.split()]
display(first_letters)

['I', 'a', 'o', 't', 'c', 't', 't', 'b', 'm', 'a', 'o', 't', 'm', 's']

# **Functions**

In Python, a **function** is a reusable block of code that is used in order to perform a specific task. Functions can receive inputs, they can process data, and return a result. They are mainly used for organization and re-usability.

The components that make up a function are the following:


*   1. **Defining a function:** You define a function by using the **def** keyword followed by the name of the function, then the parenthesis, and you close it with a colon.

*   2. **Calling a function:**  By using the function name with the parathesis, you can call a function to run it.


*   3. **Parathesis**: You can toss values or data into a function by inserting it into the parathesis. These values or data is called as arguments.

*   4. **Return Value**: You can return a result by using the **return** keyword.

The following are examples of functions with arguments and one without arguments:

**Function With Arguments**

In [ ]:
def declaration():
  print("Someone who wants to be a king must have poise and compassion.")

declaration()

Someone who wants to be a king must have poise and compassion.

**Function Without Arguments**

In [ ]:
a = 10
b = 20

def add_numbers(a, b):
  return a + b

add_numbers(a, b)

30

**Function Within a Function**

In [ ]:
def outside_message(message):
  def inner_message():
    print(f'The inner message is: {message}')
  inner_message()

outside_message('This is the outside message.')

The inner message is: This is the outside message.

# **Args & Kwargs**

In Python, ***args** can be used when we want our function to accept a variable with positional arguments. Positional arguments are arguments that need to be included in the proper position or order. It is a way in which we can pass multiple arguments to a function without needing to define the number of parameters beforehand.

***args** collects multiple positional arguments and passed them through the function as a tuple and it helpful when we dont know how many arguments will be needed to pass through a function.

You should use ***args** when we wants to pass a variable number of arguments to a function, when creating functions that should work with a wide range of input size, and when designing APIs or libraries that need to handle different use cases. Here is an example of it's usage:

In [ ]:
def add_numbers(*args):
  total = 0
  for num in args:
    total += num
  return total

add_numbers(1, 2, 3, 4, 5)

15

***kwargs** is used when we want to pass a variable number of keyword arguments.  It allows us to handle arguments in the form of a dictionary, where the argument names are the keys, and their connected values are the values.

It collects multiple keyword arguments into a dictions and is good to use when wwant a function that accepts a varying number of named parameters.

Rule of Thumb: If you want to use ***args** and ***kwargs**, then ***kwargs after args is used.**

If we want optional arguments in functions, we should use ***kwargs**

Here is an example of its usage:

In [ ]:
def mathematician_information(**kwargs):
  for key, value in kwargs.items():
    print(f'{key.capitalize()}: {value}')

mathematician_information(name = "Abraham Wald", age = 24, contribution = "Sequential Analysis", division = "NSA")
print()
mathematician_information(name = "Philip Morse", age = 34, contribution = "Morse Potential")

Name: Abraham Wald
Age: 24
Contribution: Sequential Analysis
Division: NSA

Name: Philip Morse
Age: 34
Contribution: Morse Potential

**Combining Kwargs and Args**

In [ ]:
def display_data(*args, **kwargs):
  print("Positional arguments: ", args)
  print("Keyword arguments: ", kwargs)


display_data(1, 2, 3, name="Dayon", age = 26)

Positional arguments:  (1, 2, 3)
Keyword arguments:  {'name': 'Dayon', 'age': 26}

# **Lamda Functions**

Lastly, we will be discussing about Lamda functions which are small anonymous functions that is defined by using the lamda keyword. Different than the normal *def* keyword that is used in normal function, lamda functions are a single expression that doesn't require a name.

We use lambda function when we need a quick function for a short period of time without the need for a full function.

*SYNTAX::*  **lambda** arguments: expression

Arguments is any value or piece of information, and expression is what is to be evaluated and returned. Here are a couple of examples of the uses of lambda function.

1. **Lambda for a Simple Operation**
2. **Lambda in map() Function**
3. **Lambda in filter() Function**
4. **Lambda in sorted() Function**
5. **Lambda for Multiple Conditions**

1. **Lambda for Simple Operation:** This lambda function will add two numbers together.

In [7]:
add_numbers = lambda a, b: a + b
add_numbers(10, 20)

30

2. **Lambda in map() Function**: The map() will apply a function to all the items in an iterable (like a list). We can quickly define a mathematical operation using lambda inside the map() function.

In [13]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x**2, numbers))
display(squared_numbers)

[1, 4, 9, 16, 25]

3. **Lambda in filter() Function**: The filter() function allows us to filter element from an iterable while a condition is given, a lambda function can define the condition inline.

In [12]:
numbers = [10, 11, 13, 19, 20]

odd_numbers = list(filter(lambda x: x % 2 == 1, numbers))
display(odd_numbers)

[11, 13, 19]

4. **Lambda in sorted() Function**: It is possible to use lambda in order to specify a custom sorting key. We will sort out a list of tuples.

In [19]:
pairs = [(1, 'one'), (3, 'three'), (2, 'two')]
sorted_pairs = sorted(pairs, key=lambda pair: pair[1])
print(sorted_pairs)

[(1, 'one'), (3, 'three'), (2, 'two')]

5. **Lambda for Multiple Conditions**: For times of quick decisions is needed or multiple conditions.

In [21]:
max_value = lambda x, y: x if x > y else y
x = 100
y = 500

max_value(x, y)

500

*You should use lambda functions when short function defintion is needed for quick use and to avoid function clutter.*